@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  /* BackGrounds */
  --defaultGround: #3e4c5e;
  --opGround: #d9f0ff;

  /* TextGrounds */
  --defaultTextBody: #536271;
  --opTextBody: #a3d5ff;

  /* HighestGrounds */
  --defaultHighestBody: #6a687a;
  --opHighestBody: #83c9f4;

  /* HighLight */
  --highLighter: #8084e9;
  --highLight: #6f73d2;
  --highLight-hover: #5c5eaf;

  /* HighestGrounds */
  --defaultFontColour: #fff;
  --opFontColour: #333;
}

/* Light Mode perfered option */
@media (prefers-color-scheme: light) {
  :root {
    /* BackGrounds */
    --defaultGround: #d9f0ff;
    --opGround: #3e4c5e;

    /* TextGrounds */
    --defaultTextBody: #a3d5ff;
    --opTextBody: #536271;

    /* HighestGrounds */
    --defaultHighestBody: #83c9f4;
    --opHighestBody: #6a687a;

    /* HighLight */
    --highLighter: #8084e9;
    --highLight: #6f73d2;
    --highLight-hover: #5c5eaf;

    /* HighestGrounds */
    --defaultFontColour: #333;
    --opFontColour: #fff;
  }
}

.defaultMode {
  --background: var(--defaultGround);
  --Textground: var(--defaultTextBody);
  --HighestGround: var(--defaultHighestBody);
  --font: var(--defaultFontColour);

  background-color: var(--background);
  color: var(--font);
  font-family: "Poppins", sans-serif;
  position: relative;
}

.opMode {
  --background: var(--opGround);
  --Textground: var(--opTextBody);
  --HighestGround: var(--opHighestBody);
  --font: var(--opFontColour);

  background-color: var(--background);
  color: var(--font);
  font-family: "Poppins", sans-serif;
  position: relative;
}

.navbar {
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--HighestGround);
  padding: 0.8rem;
  border-radius: 0.75rem;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}

li {
  border: none;
  list-style: none;
}

.nav-button-top {
  background-color: var(--highLight);
  position: relative;
  color: white;
  height: 2.5rem;
  max-height: 50px;
  width: 2.5rem;
  max-width: 50px;
  padding: 0.75rem;
  text-align: center;
  display: inline;
  float: right;
}

.nav-button-top img {
  height: 100%;
}

.dropdown {
  position: relative;
  transform: translate(0%);
  background-color: var(--highLight);
  color: white;
  height: 2.5rem;
  max-height: 50px;
  width: 6.25rem;
  max-width: 120px;
  padding: 0.75rem;
  text-align: center;
  margin-top: 1rem;
  border-radius: 0.75rem;
}

.top-drop {
  margin-top: 0rem;
}

.dropdown-button {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  border-right: 1px solid white;
}

.theme-button {
  border-bottom-right-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  border-left: 1px solid white;
}

.dropdown-menu {
  position: relative;
  transform: translate(-16%);
  display: none;
  margin-top: 1.5rem;
  background-color: var(--HighestGround);
  width: 8rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  padding: 0.75rem;
}

.dropdown-button:hover .dropdown-menu {
  display: block;
}

.dropdown:hover,
.nav-button-top:hover,
.logo:hover {
  background-color: var(--highLight-hover);
  cursor: pointer;
}

.logo {
  position: fixed;
  top: 0;
  float: left;
  height: 70px;
  width: 10%;
  min-width: 60px;
  max-width: 120px;
  background-color: var(--highLight);
  border-radius: 10px;
}

.logo img {
  position: relative;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home {
  position: absolute;
  top: 0;
}

h1 {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

section,
footer {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  background-color: var(--Textground);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

.title {
  margin-top: 2rem;
  color: var(--font);
  height: 20%;
  background-color: var(--Textground);
}

footer {
  background-color: var(--HighestGround);
  margin-top: 1rem;
  width: 96%;
}

.homepage-sec {
  display: flex;
  flex-direction: row;
}

.homepage-sec p {
  flex: 75%;
}

.lock {
  flex: 25%;
  height: 20rem;
}

.lock p {
  margin-top: -1.5rem;
 font-size: small;
}

.MIT {
  color: var(--highLighter);
  text-decoration: none;
}

.MIT:hover {
  color: var(--highLight);
  cursor: pointer;
}

.flexi {
  display: flex;
  flex-direction: column;
}

.flex-container {
  padding: 1rem;
  display: flex;
  height: 50rem;
}

.side {
  flex: 20%;
}

.side input {
  width: 100%;
}

.main {
  flex: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.timer {
  flex: 5%;
  display: flex;
  align-items: center;
}

.timer h1 {
  text-align: center;
}

.monologue {
  flex: 95%;
  margin-bottom: 1rem;
}

.monologue,
.side,
.timer,
.based-on {
  background-color: var(--Textground);
  border-radius: 0.75rem;
  padding: 0.75rem;
}

.based-on {padding-bottom: -2rem;}

.based-on img {
  position: relative;
  width: 70%;
  height: 70%;
  left: 50%;
  transform: translate(-50%);
}

.based-on p {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}